{{- $email := promptString "Git email address for the author/committer" -}}
{{- $name := promptString "Git username for the author/committer" -}}
{{- $gpgPath := promptString "Path of gpg.exe" -}}
{{- $envDir := promptString "Directory for conda environments" -}}
{{- $pkgPDir := promptString "Directory for conda packages" -}}

sourceDir = {{ .chezmoi.sourceDir | quote }}

[data]
	name = "{{ $name }}"
    email = "{{ $email }}"
	gpgPath = "{{ $gpgPath }}"
	envDir = "{{ $envDir }}"
	pkgDir = "{{ $pkgDir }}"
