# https://www.chezmoi.io/user-guide/setup/#re-create-your-config-file
{{- $email := get . "email" -}}
{{- if eq $email "" -}}
{{- $email := promptString "Git email address for the author/committer" -}}
{{- end -}}

{{- $name:= get . "name" -}}
{{- if eq $name "" -}}
{{- $name := promptString "Git username for the author/committer" -}}
{{- end -}}

{{- $gpgpath:= get . "gpgpath" -}}
{{- if eq $gpgpath "" -}}
{{- $gpgpath := promptString "Path of gpg.exe" -}}
{{- end -}}

{{- $envdir:= get . "envdir" -}}
{{- if eq $envdir "" -}}
{{- $envdir := promptString "Directory for conda environments" -}}
{{- end -}}

{{- $pkgdir:= get . "pkgdir" }}
{{- if eq $pkgdir "" -}}
{{- $pkgdir := promptString "Directory for conda packages" -}}
{{- end -}}

{{- $npmcache:= get . "npmcache" -}}
{{- if eq $npmcache "" -}}
{{- $npmcache := promptString "Directory for NPM cache" -}}
{{- end -}}

{{- $npmprefix:= get . "npmprefix" -}}
{{- if eq $npmprefix "" -}}
{{- $npmprefix := promptString "Directory where the node executable is installed" -}}
{{- end -}}

{{- $nugetpkgs:= get . "nugetpkgs" -}}
{{- if eq $nugetpkgs "" -}}
{{- $nugetpkgs := promptString "Directory where NuGet packages are installed." -}}
{{- end -}}

{{- $rworkingdir:= get . "rworkingdir" -}}
{{- if eq $rworkingdir "" -}}
{{- $rworkingdir := promptString "Working directory for R." -}}
{{- end -}}

{{- $mavendir:= get . "mavendir" -}}
{{- if eq $mavendir "" -}}
{{- $mavendir := promptString "Directory where maven is installed." -}}
{{- end -}}

{{- $sparkdir:= get . "sparkdir" -}}
{{- if eq $sparkdir "" -}}
{{- $sparkdir := promptString "Directory where Spark is installed." -}}
{{- end -}}

{{- $cmdstandir:= get . "cmdstandir" -}}
{{- if eq $cmdstandir "" -}}
{{- $cmdstandir := promptString "Directory where cmdstan is installed." -}}
{{- end -}}

sourceDir = {{ .chezmoi.sourceDir | quote }}

# Automatically get converted to lower case!
# See https://www.chezmoi.io/user-guide/frequently-asked-questions/design/#why-does-chezmoi-convert-all-my-template-variables-to-lowercase
[data]
	name = "{{ $name }}"
    email = "{{ $email }}"
	gpgpath = "{{ $gpgpath }}"
	envdir = "{{ $envdir }}"
	pkgdir = "{{ $pkgdir }}"
	npmcache = "{{ $npmcache }}"
	npmprefix = "{{ $npmprefix }}"
	nugetpkgs = "{{ $nugetpkgs }}"
	rworkingdir = "{{ $rworkingdir }}"
	mavendir = "{{ $mavendir }}"
	sparkdir = "{{ $sparkdir }}"
	cmdstandir = "{{ $cmdstandir }}"
[cd]
	command = "pwsh"
[completion]
	custom = true
[diff]
	pager = "less -rFX"
  	command = 'delta'
[edit]
	command  = 'C:/Program Files/Notepad++/Notepad++.exe'
	args = ['-multiInst', '-notabbar', '-nosession', '-noPlugin']
[merge]
  	command = 'WinMergeU'
	args = [
		'-u',
		'-e',
		'-x',
		'-fm',
		'-wl',
		'-wr',
		'-dl',
		'"Local"',
		'-dr',
		'"Remote"'
	]
