# https://www.chezmoi.io/user-guide/setup/#re-create-your-config-file
{{- $email := promptStringOnce . "email" "Email address" -}}

{{- $name := promptStringOnce . "name" "Git username for the author/committer" -}}

{{- $gpgpath := promptStringOnce . "gpgpath" "Path of gpg.exe" -}}

{{- $gpgkey := promptStringOnce . "gpgkey" "GPG key" -}}

{{- $condadir := promptStringOnce . "condadir" "Conda directory" -}}

{{- $npmcache := promptStringOnce . "npmcache" "Directory for NPM cache" -}}

{{- $npmprefix := promptStringOnce . "npmprefix" "Directory where the node executable is installed" -}}

{{- $nugetpkgs := promptStringOnce . "nugetpkgs" "Directory where NuGet packages are installed." -}}

{{- $rworkingdir := promptStringOnce . "rworkingdir" "Working directory for R." -}}

{{- $mavendir := promptStringOnce . "mavendir" "Directory where maven is installed." -}}

{{- $sparkdir := promptStringOnce . "sparkdir" "Directory where Spark is installed." -}}

{{- $cmdstandir := promptStringOnce . "cmdstandir" "Directory where cmdstan is installed." -}}

{{- $quartopath := promptStringOnce . "quartopath" "Bin folder path for quarto." -}}

{{- $kdbxpath := promptStringOnce . "kdbxpath" "Path for Keepass database" -}}

sourceDir = {{ .chezmoi.sourceDir | quote }}

# Automatically get converted to lower case!
# See https://www.chezmoi.io/user-guide/frequently-asked-questions/design/#why-does-chezmoi-convert-all-my-template-variables-to-lowercase
[data]
	name = "{{ $name }}"
    email = "{{ $email }}"
	gpgkey = "{{ $gpgkey }}"
	gpgpath = "{{ $gpgpath }}"
	condadir = "{{ $condadir }}"
	npmcache = "{{ $npmcache }}"
	npmprefix = "{{ $npmprefix }}"
	nugetpkgs = "{{ $nugetpkgs }}"
	rworkingdir = "{{ $rworkingdir }}"
	mavendir = "{{ $mavendir }}"
	sparkdir = "{{ $sparkdir }}"
	cmdstandir = "{{ $cmdstandir }}"
	quartopath = "{{ $quartopath }}"
[cd]
	command = "pwsh"
[completion]
	custom = true
[diff]
	pager = "less -rFX"
  	command = 'delta'
[edit]
	command  = 'C:/Program Files/Notepad++/Notepad++.exe'
	args = ['-multiInst', '-notabbar', '-nosession', '-noPlugin']
[interpreters.py]
	command = "{{ $condadir }}/python.exe"
[interpreters.ps1]
    command = "pwsh"
    args = ["-NoLogo"]
[merge]
  	command = 'WinMergeU'
	args = [
		'-u',
		'-e',
		'-x',
		'-fm',
		'-wl',
		'-wr',
		'-dl',
		'"Local"',
		'-dr',
		'"Remote"'
	]
[keepassxc]
    database = "{{ $kdbxpath }}"
