channels:
  - defaults
  - conda-forge
ssl_verify: true
auto_update_conda: true

# Show channel URLs when displaying what is going to be downloaded
# and in 'conda list'. The default is False.
show_channel_urls: true

create_default_packages:
  - pip
  - ipython
  - scipy
pip_interop_enabled: true
channel_priority: flexible
unsatisfiable_hints: true
envs_dirs:
  - {{ .condapath }}/envs
pkgs_dirs:
  - {{ .condapath }}/pkgs
repodata_threads: 4
variables:
  CRYPTOGRAPHY_OPENSSL_NO_LEGACY: 1
use_only_tar_bz2: false
