default_context:
    full_name: ""
    email: "{{ .email }}"
    github_username: "{{ .name }}"
abbreviations:
    pp: https://github.com/audreyfeldroy/cookiecutter-pypackage.git
    gh: https://github.com/{0}.git
    bb: https://bitbucket.org/{0}
