# https://docs.npmjs.com/cli/v8/using-npm/config
{{ if .npmcache }}cache = {{.npmcache | quote }}{{ end }}
{{ if .npmprefix }}prefix = {{ .npmprefix | quote }}{{ end }}
shell = "pwsh.exe"
unicode = true
