{
    "highlight_selected_line": true,
    "show_indent_guides": true,
    "continue_comments_on_newline": true,
    "check_arguments_to_r_function_calls": true,
    "auto_append_newline": true,
    "strip_trailing_whitespace": true,
    "syntax_color_console": true,
    "highlight_r_function_calls": true,
    "editor_theme": "ayu mirage",
    "default_encoding": "UTF-8",
    "document_author": "Ajay Mehta",
    "show_rmd_render_command": true,
    "remove_history_duplicates": true,
    "reuse_sessions_for_project_links": true,
    "console_double_click_select": true,
    "style_diagnostics": true,
    "rmd_viewer_type": "pane",
    "{{ .chezmoi.os }}_terminal_shell": "custom",
    "custom_shell_command": "C:/Program Files/PowerShell/7/pwsh.exe",
    "jobs_tab_visibility": "closed",
    "cran_mirror": {
        "name": "Global (CDN)",
        "host": "RStudio",
        "url": "https://cran.rstudio.com/",
        "country": "us",
        "ok": 1,
        "secondary": ""
    },
    "full_project_path_in_window_title": true,
    "show_last_dot_value": true,
    "check_unexpected_assignment_in_function_call": true,
    "initial_working_directory": "{{ .rworkingdir }}",
    "rainbow_parentheses": true,
    "tab_multiline_completion": true,
    "show_diagnostics_other": true,
    "show_doc_outline_rmd": true,
    "graphics_backend": "ragg",
    "warn_variable_defined_but_not_used": true,
    "auto_detect_indentation": true,
    "visual_markdown_editing_show_margin": true,
    "visual_markdown_code_editor_line_numbers": true,
    "doc_outline_show": "sections_and_chunks",
    "quarto_enabled": "enabled",
    "font_size_points": 14,
    "help_font_size_points": 12,
    "source_with_echo": true
}