{
    "FormattingOptions": {
        "EnableEditorConfigSupport": true
    },
    "ImplementTypeOptions": {
        "InsertionBehavior": "WithOtherMembersOfTheSameKind",
        "PropertyGenerationBehavior": "PreferAutoProperties"
    },
    "RenameOptions": {
        "RenameInComments": true,
        "RenameInStrings": false,
        "RenameOverloads": true
    },
    "RoslynExtensionsOptions": {
        "EnableAnalyzersSupport": true,
        "EnableDecompilationSupport": true,
        "LocationPaths": [
            {{ joinPath (env "homedrive") (env "homepath") ".vscode/extensions/josefpihrt-vscode.roslynator-4.2.0/roslyn/common" | quote}},
            {{ joinPath (env "homedrive") (env "homepath") ".vscode/extensions/josefpihrt-vscode.roslynator-4.2.0/roslyn/analyzers" | quote}},
            {{ joinPath (env "homedrive") (env "homepath") ".vscode/extensions/josefpihrt-vscode.roslynator-4.2.0/roslyn/refactorings" | quote}},
            {{ joinPath (env "homedrive") (env "homepath") ".vscode/extensions/josefpihrt-vscode.roslynator-4.2.0/roslyn/fixes" | quote}}
        ]
    }
}
