{
    "FormattingOptions": {
        "EnableEditorConfigSupport": true
    },
    "ImplementTypeOptions": {
        "InsertionBehavior": "WithOtherMembersOfTheSameKind",
        "PropertyGenerationBehavior": "PreferAutoProperties"
    },
    "RenameOptions": {
        "RenameInComments": true,
        "RenameInStrings": false,
        "RenameOverloads": true
    },
    "RoslynExtensionsOptions": {
        "EnableAnalyzersSupport": true,
        "EnableDecompilationSupport": true,
        "LocationPaths": [
            {{ joinPath (env "userprofile") ".vscode/extensions/josefpihrt-vscode.roslynator-4.9.0/roslyn/common" | replaceAllRegex "\\\\" "/" | replace "C:" "c:" | quote}},
            {{ joinPath (env "userprofile") ".vscode/extensions/josefpihrt-vscode.roslynator-4.9.0/roslyn/analyzers" | replaceAllRegex "\\\\" "/" | replace "C:" "c:" | quote}},
            {{ joinPath (env "userprofile") ".vscode/extensions/josefpihrt-vscode.roslynator-4.9.0/roslyn/refactorings" | replaceAllRegex "\\\\" "/" | replace "C:" "c:" | quote}},
            {{ joinPath (env "userprofile") ".vscode/extensions/josefpihrt-vscode.roslynator-4.9.0/roslyn/fixes" | replaceAllRegex "\\\\" "/" | replace "C:" "c:" | quote }}
        ]
    },
    "fileOptions": {
        "systemExcludeSearchPatterns": [
            "**/node_modules/**/*",
            "**/bin/**/*",
            "**/obj/**/*"
        ],
        "excludeSearchPatterns": [
            "**/libs/**/*",
            "**/bin/**/*",
            "**/obj/**/*"
        ]
    }
}